/* Common styles */
.army-heading {
    text-align: left;
    font-size: 24px;
    margin-bottom: 10px;
}

.army-content {
    text-align: justify;
    font-size: 17px;
    /* margin-bottom: 28px; */
    /* line-height: 8; */
}

.armyMission {
    line-height: 30px;
    font-size: 16px;
}

.army-gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
    transition: ease-in 0.42s;
}

.photo {
    border: 2px solid #ccc;
    padding: 15px;
    margin: 10px;
    text-align: center;
}

.photo img {
    width: 250px;
    height: auto;
}

.army-mission,
.army-vision {
    padding: 20px;
    margin: 20px;
}


.p1 {
    transition: ease-in 0.42s;
}

.p1:hover {
    transform: scale(1.2);
}

/* Responsive design for smaller screens */
@media only screen and (max-width: 600px) {
    .army-gallery {
        flex-direction: column;
        align-items: center;
    }

    .photo img {
        width: 100%;
    }
}