# Node.js dependencies
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Database files
*.sqlite
*.sqlite3
*.db

# System files
.DS_Store
Thumbs.db

# Build output
dist/
build/

# IDE or editor config files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Coverage reports
coverage/

# Temporary files
tmp/
temp/

# Static files (optional if built dynamically)
public/uploads/
