.notification-bar {
    display: flex;
    align-items: center;
    background-color: #ff0000;
    color: #fff;
    padding: 10px;
    overflow: hidden;
    border-radius: 5px;
    position: relative;
}

.notification-title {
    background-color: #f6ff00;
    padding: 5px 10px;
    font-weight: bold;
    color: #333;
    border-radius: 3px;
    white-space: nowrap;
    z-index: 1;
}

.marquee-container {
    position: relative;
    overflow: hidden;
    flex: 1;
    margin-left: 15px;
}

.marquee {
    display: flex;
    align-items: center;
    gap: 30px;
    white-space: nowrap;
    animation: scroll 30s linear infinite;
    animation-play-state: running;
    /* Default state is running */
}

.marquee:hover {
    animation-play-state: paused;
    /* Pauses the animation on hover */
}

.notification-item {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.notification-item a {
    color: #c3b82f;
    margin-left: 5px;
    text-decoration: none;
}

.notification-item a:hover {
    text-decoration: underline;
}

/* Keyframes adjusted to keep space on both sides */
@keyframes scroll {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}