.rank-insignia-container {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f2;
}



.rank-row {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    align-items: center;
    margin-bottom: 30px;
    border: 2px solid black;
    padding: 20px;
}

.rank-title {
    grid-column: span 1;
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
}

.rank-image {
    grid-column: span 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rank-image img {
    max-width: 60px;
    height: auto;

}

.rank-name {
    margin-top: 5px;
    font-weight: bold;
    text-align: center;
}